<script setup lang="ts">
import { ROUTES } from '@/router';
import { setUserToken } from '@/services/AuthService';
import { authorizeThroughGithub, startGithubAuth } from '@/services/GithubService';
import BaseLayout from '@/templates/BaseLayout.vue';
import { computed, ref } from 'vue';
import { useRoute, useRouter } from 'vue-router';
import ActionMain from '../components/ActionMain.vue';
import ActionSecondary from '../components/ActionSecondary.vue';

const route = useRoute();
const router = useRouter();

// Такое получение потому что навигация на хэшах, нам это надо для редиректа
const codeFromGithub = new URL(window.location.toString()).searchParams.get('code');
const authError = ref('');
const isAuthProcessing = ref(false);

const setAuthError = () => {
    authError.value = 'Что-то сломалось :-(';
};
const isPopupError = computed(() => window.opener && authError.value);

// Сюда должны попасть только в попап окне
if (codeFromGithub && window.opener) {
    const [token, error] = await authorizeThroughGithub(codeFromGithub);
    if (!token || error) {
        console.error(error);
        setAuthError();
        window.opener.postMessage({code: 'auth-error'});
    } else {
        window.opener.postMessage({code: 'auth-success', token});
        window.close();
    }
}

if (!window.opener) {
    // Слушаем событие с попапа

    window.addEventListener('message', (event) => {
        if (event.data.code === 'retry') {
            // просьба повторить авторизацию
            startGithubAuth();
        } else if (event.data.code === 'auth-error') {
            setAuthError();
        } else if (event.data.code === 'auth-success') {
            setUserToken(event.data.token);
            router.replace({name: ROUTES.INDEX});
        }
    });
}

const onAuthAction = () => {
    isAuthProcessing.value = true;

    if (isPopupError.value) {
        // Закрывем попап и повторяем попытку
        // window.opener.postMessage('retry');
        window.close();
    } else {
        startGithubAuth();
    }
};
</script>

<template>
    <BaseLayout>
        <main>
            <!-- Section 1 -->
            <section class="px-2 pt-32 bg-white md:px-0">
                <div class="container items-center max-w-6xl px-5 mx-auto space-y-6 text-center">
                    <h1
                        class="text-4xl font-extrabold tracking-tight text-left text-gray-900 sm:text-5xl md:text-6xl md:text-center">
                        <template v-if="authError">{{ authError }}</template>
                        <template v-else>
                            Вы <span class="block mt-1 text-purple-500 lg:inline lg:mt-0">неавторизованы</span>
                        </template>
                    </h1>
                    <div v-if="isPopupError">
                        <p class="w-full mx-auto text-base text-left text-gray-500 sm:text-lg lg:text-2xl md:max-w-3xl md:text-center">
                            Без паники, наверное это случайность.
                        </p>
                    </div>
                    <div v-else>
                        <p class="w-full mx-auto text-base text-left text-gray-500 sm:text-lg lg:text-2xl md:max-w-3xl md:text-center">
                            Чтобы смотреть что внутри, надо авторизоваться через Гитхаб
                        </p>
                        <p class="w-full mx-auto text-base text-left text-gray-500 sm:text-md lg:text-xl md:max-w-2xl md:text-center">
                            Без паники, попросим только доступ к информации профиля.
                        </p>
                    </div>
                    <div class="relative flex flex-col justify-center md:flex-row md:space-x-4">
                        <ActionMain v-if="isPopupError" @click="onAuthAction">
                            Закрыть
                        </ActionMain>
                        <template v-else>
                            <ActionMain @click="onAuthAction">
                                <template v-if="isPopupError">Закрыть</template>
                                <template v-else-if="authError">Попробовать ещё раз</template>
                                <template v-else>Авторизоваться</template>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                     aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32"
                                     preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                          d="M12 2A10 10 0 0 0 2 12c0 4.42 2.87 8.17 6.84 9.5c.5.08.66-.23.66-.5v-1.69c-2.77.6-3.36-1.34-3.36-1.34c-.46-1.16-1.11-1.47-1.11-1.47c-.91-.62.07-.6.07-.6c1 .07 1.53 1.03 1.53 1.03c.87 1.52 2.34 1.07 2.91.83c.09-.65.35-1.09.63-1.34c-2.22-.25-4.55-1.11-4.55-4.92c0-1.11.38-2 1.03-2.71c-.1-.25-.45-1.29.1-2.64c0 0 .84-.27 2.75 1.02c.79-.22 1.65-.33 2.5-.33c.85 0 1.71.11 2.5.33c1.91-1.29 2.75-1.02 2.75-1.02c.55 1.35.2 2.39.1 2.64c.65.71 1.03 1.6 1.03 2.71c0 3.82-2.34 4.66-4.57 4.91c.36.31.69.92.69 1.85V21c0 .27.16.59.67.5C19.14 20.16 22 16.42 22 12A10 10 0 0 0 12 2Z">
                                    </path>
                                </svg>
                            </ActionMain>
                            <ActionSecondary href="/info"> Что это </ActionSecondary>
                        </template>
                    </div>
                </div>
                <div class="container items-center max-w-4xl px-5 mx-auto mt-16 text-center">
                    <img src="https://cdn.devdojo.com/images/november2020/hero-image.png">
                </div>
            </section>
        </main>

    </BaseLayout>
</template>
