<script setup lang="ts">
import { computed, ref } from 'vue';

import { useUserStore } from '@/stores/user';
import BaseLayout from '@/templates/BaseLayout.vue';
import GithubPublicUserCard from '@/components/GithubPublicUserCard.vue';
import { getUsers } from '@/services/GithubService';
import type { UserSimple } from '@/models/User';
import ActionLoadMore from '../components/ActionLoadMore.vue';
import ActionSecondary from '../components/ActionSecondary.vue';

const userStore = useUserStore();
const userData = computed(() => userStore.user);

// Список пользователей Гитхаба
const isUsersPending = ref(true);
const users = ref<UserSimple[]>([]);
const currentUsersPage = ref(0);
const usersPerPage = 12;
const loadNextUsers = async () => {
    isUsersPending.value = true;
    const since = currentUsersPage.value === 0 ? 0 : users.value[users.value.length - 1].id;
    const [newUsers, error] = await getUsers({since, per_page: usersPerPage});

    if (error) {
        console.error('Не грузятся пользователи', error);
    } else if (newUsers) {
        users.value = users.value.concat(newUsers);
        currentUsersPage.value += 1;
    }

    isUsersPending.value = false;
};

const onLoadMore = () => {
    loadNextUsers();
};

// Первая загрузка
loadNextUsers();
</script>

<template>
    <BaseLayout>
        <template v-if="!userData">
            Что-то сломалось :-(
        </template>
        <main v-else>
            <!-- Section 1 -->
            <section class="mt-32 mb-10">
                <div class="container items-center max-w-6xl px-5 mx-auto space-y-6 text-center">
                    <h1 class="text-4xl font-extrabold tracking-tight text-left text-gray-900 sm:text-5xl md:text-6xl md:text-center">
                        Привет,
                        <img v-if="userData.avatar_url" :src="userData.avatar_url" class="w-16 h-16 inline align-top mr-2" />
                        <span class="text-purple-500">{{ userData.login }}</span>!
                    </h1>
                    <p class="w-full mx-auto text-base text-left text-gray-500 sm:text-lg lg:text-2xl md:max-w-3xl md:text-center">
                        Можно смотреть пользователей Гитхаба, <span class="line-through">фильтровать их</span> и наслаждаться моментом здесь и сейчас
                    </p>
                </div>
            </section>
            
            <section class="relative py-20">
                <span class="absolute top-0 right-0 flex flex-col items-end mt-0 -mr-16 opacity-60">
                    <span class="container hidden w-screen h-32 max-w-xs mt-20 transform rounded-full rounded-r-none md:block md:max-w-xs lg:max-w-lg 2xl:max-w-3xl bg-blue-50"></span>
                </span>

                <div class="relative px-16 mx-auto max-w-6xl">
                    <h2 class="relative max-w-lg mt-5 mb-10 text-4xl font-semibold leading-tight md:text-5xl">Список пользователей</h2>
                    <div class="grid w-full grid-cols-2 gap-10 sm:grid-cols-3 lg:grid-cols-4">
                        <template v-if="users.length">
                            <GithubPublicUserCard v-for="user in users" :key="user.id" :user="user" />
                        </template>
                    </div>
                    <div v-if="isUsersPending && !users.length" class="">Загрузка...</div>
                    <div v-else class="mt-10 relative flex flex-col justify-center md:flex-row md:space-x-4">
                        <ActionLoadMore @auto-load="onLoadMore" @load-more="onLoadMore" :disabled="isUsersPending">
                            <template v-if="isUsersPending">Загрузка...</template>
                            <template v-else>Загрузить ещё</template>
                        </ActionLoadMore>
                        <ActionSecondary href="/info"> Что это </ActionSecondary>
                    </div>
                </div>
            </section>

        </main>

    </BaseLayout>
</template>
