<script lang="ts" setup>
import BaseLayout from '../templates/BaseLayout.vue';
import ActionSecondary from '../components/ActionSecondary.vue';</script>

<template>
    <BaseLayout>
        <main class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8 text-center">
            <h1 class="text-base font-semibold text-indigo-600 tracking-wide uppercase">Зачем это всё?</h1>
            <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Чтобы показать какой код я могу писать</p>
            <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">
                Пока что из функционала тут только авторизация через Гитхаб и вывод пользователей в порядке их регистрации.
            </p>
            <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">
                В дальнейшем сделаю фильтрацию пользователей, получение и показ более детальной информации о них, наверняка что-то с репозиториями придумаю. 
            </p>
            <p class="max-w-3xl mt-5 mx-auto text-xl text-gray-500">
                А пока думаю этого достаточно.
            </p>
            <div class="mt-10 relative flex flex-col justify-center md:flex-row md:space-x-4">
                <ActionSecondary href="/">Смотреть пользователей</ActionSecondary>
            </div>
        </main>
    </BaseLayout>

</template>
