<script setup lang="ts">
import ActionBase from '@/components/ActionBase.vue';
</script>

<template>
    <ActionBase class="text-white bg-violet-600 hover:bg-violet-500">
        <slot></slot>
    </ActionBase>
</template>
