<script setup lang="ts">
import ActionBase from '@/components/ActionBase.vue';
</script>

<template>
    <ActionBase class="text-gray-500 bg-gray-100 hover:bg-gray-200 hover:text-gray-600">
        <slot></slot>
    </ActionBase>
</template>
