<script setup lang="ts">
import ActionBase from '@/components/ActionBase.vue';
import { computed, onMounted, onUnmounted, ref, type ComponentPublicInstance } from 'vue';

const emit = defineEmits(['auto-load', 'load-more']);

const waitSeconds = 4;
const timeRemained = ref(0);
const timeRemainedText = computed(() => timeRemained.value ? 'через ' + timeRemained.value : '');

// Отложенная загрузка
let timer: number|null = null;
const startTimer = () => {
    if (timeRemained.value > 0) {
        // Таймер уже запущен, второй раз не надо
        return;
    }
    
    timeRemained.value = waitSeconds;
    timer = setInterval(() => {
        if (timeRemained.value <= 1) {
            emit('auto-load');
            stopTimer();
        } else {
            timeRemained.value -= 1;
        }
    }, 1000);
};
const stopTimer = () => {
    timeRemained.value = 0;
    timer && clearInterval(timer);
};

// Ручной тригер загрузки
const onLoadMore = () => {
    stopTimer();
    emit('load-more');
};


// Слежение за кнопкой
const actionCOMP = ref<ComponentPublicInstance|null>(null);
const observer = new IntersectionObserver((entries) => {
    if (entries[0] && entries[0].isIntersecting) {
        startTimer();
    }
});
onMounted(() => {
    if (actionCOMP.value) {
        observer.observe(actionCOMP.value.$el);
    }
});
onUnmounted(() => {
    stopTimer();
    observer.disconnect();
});
</script>

<template>
    <ActionBase ref="actionCOMP" class="text-white bg-violet-600 hover:bg-violet-500 disabled:bg-gray-200 disabled:text-black" @click="onLoadMore">
        <slot></slot>
        <template #end v-if="timeRemainedText">
            <span>{{ timeRemainedText }}</span>
        </template>
    </ActionBase>
</template>
