<script setup lang="ts">
import isExternalLink from '@/helpers/isExternalLink';
import { computed } from 'vue';

// TODO: экспорировать пропы для кастомных компонентов, но тут мне не надо это
const props = defineProps<{
    href?: string,
    disabled?: boolean
}>();

const enum ACTION_TYPES {
    INTERNAL_LINK = 'router-link',
    EXTERNAL_LINK = 'a',
    BUTTON = 'button'
}
const actionType = computed(() => {
    if (props.href && isExternalLink(props.href)) {
        return ACTION_TYPES.EXTERNAL_LINK;

    } else if (props.href) {
        return ACTION_TYPES.INTERNAL_LINK;
    }

    return ACTION_TYPES.BUTTON;
});
const actionAttributes = computed(() => {
    const attrs = {
        disabled: !!props.disabled
    };

    if (actionType.value === ACTION_TYPES.BUTTON) {
        /** @todo Обработать кейс с submit */
        Object.assign(attrs, {
            type: 'button'
        });

    } else if (actionType.value === ACTION_TYPES.EXTERNAL_LINK) {
        Object.assign(attrs, {
            target: '_blank' // внешние ссылки в новой вкладке
        });
    } else if (actionType.value === ACTION_TYPES.INTERNAL_LINK) {
        Object.assign(attrs, {
            to: props.href // проп для RouterLink
        });
    }

    return attrs;
});
</script>

<template>
    <Component :is="actionType" v-bind="actionAttributes" class="inline-flex gap-2 items-center w-auto px-6 py-3 text-lg rounded-md">
        <slot name="start"></slot>
        <slot></slot>
        <slot name="end"></slot>
    </Component>
</template>
