<script setup lang="ts">
import type { UserSimple } from '@/models/User';
import { computed } from 'vue';

defineProps<{user: UserSimple}>();

const colors = [
    'bg-blue-50',
    'bg-slate-50',
    'bg-amber-50',
    'bg-gray-50',
    'bg-red-50',
    'bg-yellow-50',
    'bg-orange-50',
    'bg-lime-50',
    'bg-cyan-50',
    'bg-purple-50'
];
const randomColor = computed(() => colors[Math.floor(Math.random()*10)]);
</script>

<template>
    <div class="flex flex-col items-center justify-center col-span-1">
        <div class="relative p-5 w-full">
            <div :class="['absolute z-10 w-full h-full -mt-5 -ml-5 rounded-full rounded-tr-none', randomColor]"></div>
            <div class="aspect-square">
                <img class="relative z-20 w-full rounded-full" :src="user.avatar_url" />
            </div>
        </div>
        <div class="mt-3 space-y-2 text-center">
            <div class="space-y-1 text-lg font-medium leading-6">
                <h3 v-if="user.name">{{user.name}}</h3>
                <p class="text-blue-600">
                    <a target="_blank" :href="user.html_url" class="text-violet-500 hover:text-violet-600">{{user.login}}</a>
                </p>
            </div>
        </div>
    </div>
</template>
